.content{
	width: 1200px;
	margin: 0 auto;
	color: #333;
	overflow: hidden;
	margin-top: 20px;
}
h3{
	font-size: 18/16rem;
	background-color: #ccc;
	padding: 6px;
	margin-bottom: 20px;
}
.group{
	font-size: 16px;
	margin-bottom: 16px;
	label{
		width: 70px;
		display: inline-block;
		text-align: right;
	}
	input,select{
		border: 1px solid #ccc;
		height: 25px;
		line-height: 25px;
		border-radius: 3px;
		padding-left: 3px;
		width: 360px;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		padding-left: 6px;
		color: #666;
	}
	select{
		height: 27px;
		line-height: 27px;
		width: 365px;
	}
}
.form1{
	border: 1px solid #ccc;
	width: 48%;
	float: left;
}
.form2{
	float: right;
	width: 50%;
	text-align: center;
	border: 1px solid #ccc;
}
table{
		width: 100%;
		margin-bottom: 20px;
		thead{
			background-color: #CCC;
			th{
				padding: 10px 0;
				border-right: 1px solid #EEE;
			}
			th:last-child{
				border-right: none;
			}
		}
		tbody{
			td{
				border-bottom: 1px solid #eee;
				padding: 6px 0;
				border-right: 1px solid #EEE;
			}
			td:last-child{
				border-right: none;
			}
		}
		a{
			color: #333;
			background-color: #ccc;
			padding: 3px 16px;
		}
	}
.constraint_box{
	border: 1px solid #CCC;
	float: left;
	width: 48%;
}
.constraint_exhibition{
	float: right;
	width: 50%;
	border: 1px solid #ccc;
	text-align: center;
	p{
		text-align: center;
		margin-bottom: 20px;
	}
}
.btns{
	text-align: center;
	margin-bottom: 20px;
	a{
		background-color: #ccc;
	    color: #333;
	    display: inline-block;
	    padding: 6px 80px;
	    border-radius: 3px;
	}
}