<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="锤子科技, 智能手机, 用户体验" />
    <meta name="description" content="锤子科技是一家制造移动互联网终端设备的公司，公司的使命是用完美主义的工匠精神，打造用户体验一流的数码消费类产品（智能手机为主），改善人们的生活质量。" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title ng-bind="$root.title + ' - 锤子科技'" class="ng-binding">用户登录 - 锤子科技</title>
    <!--<link href="//static.smartisanos.cn/common/img/favicon.ico" rel="shortcut icon" />-->
    <!--<link href="//static.smartisanos.cn/common/img/favicon_114.png" rel="apple-touch-icon" />-->
    <!--<link href="//static.smartisanos.cn/common/img/favicon_76.png" sizes="76x76" rel="apple-touch-icon" />-->
    <!--<link href="//static.smartisanos.cn/common/img/favicon_120.png" sizes="120x120" rel="apple-touch-icon" />-->
    <!--<link href="//static.smartisanos.cn/common/img/favicon_152.png" sizes="152x152" rel="apple-touch-icon" />-->
    <link rel="stylesheet" href="css/main_2cd865cea5.css" />
    <script type="text/javascript" async="" src="js/linkid.js"></script>
    <script src="js/hm.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TBDW8K"></script>
    <script src="js/update-browser.js"></script>
</head>
<body class="v2 login-v2" ng-class="pageClass">
<div class="wrapper ng-scope" ng-controller="MainCtrl" ng-class="{ 'cloud': isEmbedCloud, 'bbs': isEmbedBbs, 'bbs-tmp': isEmbedBbsTmp, 'settings': isSettings, 'guest': isGuestLogin, 'avatar': isModifyAvatar, 'notes': isEmbedNotes, 'contacts': isEmbedContacts, 'radar': isEmbedRadar, 'four-1': is1111}">
    <div class="dialog dialog-shadow" style="display: block; margin-top: -324px;">
        <div class="title" ng-class="loginLogoClass">
            <div ng-show="is1111" class="return-btn ng-hide" ng-click="backToLast()"></div>
            <h4 ng-bind="dialogTitle" class="ng-binding">使用 Smartisan ID 登录在线商城</h4>
            <a class="close"></a>
        </div>
        <!-- ngView:  -->
        <div class="content ng-scope ng-animate" ng-view="" ng-animate-children="" style="height: auto;">
            <form class="login-form form-v2 ng-scope ng-pristine ng-invalid ng-invalid-required" name="form" novalidate="" autocomplete="off">
                <ul class="common-form">
                    <li class="username border-1p">
                        <div class="input" i-animation="errAnimation.username" style="opacity: 0.618;">
                            <span class="icon"><i></i></span>
                            <!-- ngIf: showCcc -->
                            <!-- ngIf: showCcc -->
                            <!-- <span class="placeholder ng-binding" ng-class="{'indent': showCcc}">手机号/邮箱</span> -->
                            <input id="uname" placeholder="手机号/邮箱" type="text" name="username" />
                            <span class="warning ng-binding" i-warning="form.username.$submitted &amp;&amp; form.username.$error.required">请输入手机号/邮箱</span>
                            <span class="warning ng-binding" i-warning="form.username.$blurred &amp;&amp; form.username.$error.username">手机号/邮箱格式错误</span>
                            <span class="warning ng-binding" i-warning="form.username.$blurred &amp;&amp; form.username.$error.nameValid">手机号/邮箱不存在</span>
                        </div></li>
                    <li class="password">
                        <div class="input" i-animation="errAnimation.password">
                            <span class="icon"><i></i></span>
                            <!-- <span class="placeholder">密码</span> -->
                            <input id="pwd" type="password" placeholder="密码" name="password" autocomplete="current-password" ng-model="user.password" required="" ng-trim="false" i-input="" i-focus="" i-enter="login()" i-response="" select-on="focus.password" class="ng-pristine ng-invalid ng-invalid-required ng-valid-password-valid" />
                            <span class="m-eye"></span>
                            <span class="warning" i-warning="form.password.$submitted &amp;&amp; form.password.$error.required">请输入密码</span>
                            <span class="warning" i-warning="form.password.$submitted &amp;&amp; form.password.$error.passwordValid">密码错误</span>
                        </div></li>
                    <!-- ngIf: captchaNeeded -->
                    <li class="remember" ng-class="{'notes': isEmbedNotes}">
                        <div id="check" class="auto ng-binding" ng-click="remembered = !remembered">
                            <span class="checkbox" ng-class="{'checked' : remembered}"><a></a></span> 7 天内自动登录
                        </div><a class="forgotpassword ng-binding" ng-click="forgotPassword()">忘记密码？</a> <a class="registercloud ng-binding" ng-click="toRegister()">注册 Smartisan ID</a></li>
                </ul>
                <div class="btn-wrapper">
                    <div class="btn btn-primary disabled" ng-class="{'disabled':form.$invalid}" ng-click="login()">
                        <a>登录</a>
                    </div>
                </div>
                <div class="info-wrapper clearfix">
                    <ul>
                        <li>
                            <ul class="login-three">
                                <li class="text">其他账号登录：</li>
                                <li class="wechat" ng-click="wechatLogin()"></li>
                                <li class="weibo" ng-click="weiboLogin()"></li>
                                <li class="qq" ng-click="qqLogin()"></li>
                            </ul></li>
                        <li><a ng-click="switchModel()" class="ng-binding">国际手机号登录 >
                            <!--<span class="smartisan-icon gt"></span>-->
                        </a></li>
                    </ul>
                </div>
                <div class="info-wrapper ng-hide" ng-show="is1111">
                    <span>提示：为了确保账户的安全性，维护您的福袋兑换权益，请输入您的用户名和密码，点击【登录】即可兑换福袋。</span>
                </div>
            </form>

            <!-- ngIf: showCcc -->
        </div>
    </div>
    <div class="loading" style="display: none;"></div>
    <div class="copyright">
        <div class="clearfix">
            <h2>Copyright &copy; <span copyright-year="">2017</span>, Smartisan Digital Co., Ltd. All Rights Reserved.</h2>
            <h3 class="company">北京锤子数码科技有限公司</h3>
            <ul class="privacy">
                <li><a href="http://www.smartisan.com/support/#/agreement">法律声明</a></li>
                <li><a href="http://www.smartisan.com/support/#/privacy">隐私条款</a></li>
            </ul>
        </div>
        <h4><a href="http://www.miibeian.gov.cn/" target="_blank"><span>京ICP备14041720号-1</span><span>京ICP证140622号</span><span>京公网安备11010502025474</span></a></h4>
    </div>
</div>
<div class="m-dialog">
    <div class="m-dialog-backdrop"></div>
    <div class="m-dialog-modal">
        <div class="m-dialog-content">
            <div class="m-dialog-header">
                <span class="close" data-dismiss="true">&times;</span>
                <h4 class="m-dialog-headline"></h4>
            </div>
            <div class="m-dialog-body"></div>
        </div>
    </div>
</div>
<script src="js/dep_d41154803f.js"></script>
<script src="js/app_3ef97f8082.js"></script>
<script src="js/template_66f00006ec.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
        <!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
        <!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
        <!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
<!--})(window,document,'script','dataLayer','GTM-TBDW8K');</script>-->
<!--<script type="text/javascript" id="">(function(f,b){(function(a,d,b,f,c,e,g){a.GoogleAnalyticsObject=c;a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[c].l=1*new Date;e=d.createElement(b);g=d.getElementsByTagName(b)[0];e.async=1;e.src=f;g.parentNode.insertBefore(e,g)})(f,b,"script","https://www.google-analytics.com/analytics.js","ga");ga("create","UA-49819160-1","auto");ga("require","linkid");(function(){var a=b.createElement("script");a.src="js/hm.js";var d=-->
        <!--b.getElementsByTagName("script")[0];d.parentNode.insertBefore(a,d)})()})(window,document);</script>-->
<!--<script type="text/javascript" id="">(function(){var a="\/v2\/login?return_url\x3dhttp:%2F%2Fstore.smartisan.com%2Faccount%2F";setTimeout(function(){ga("send","pageview",a)},200)})();</script>-->
<script type="text/javascript">
    var reg_phone = /^1\d{10}$/;
    var reg_password = /^[A-Za-z0-9]{6,20}$/;
    var reg_email = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
    $('.btn-wrapper a').click(function(){
        var uname = $('#uname').val();
        var pwd = $('#pwd').val();
        if(uname != ''){
            $('.input .warning').eq(0).css('display','none').css('opacity',0)
            if(!reg_phone.test(uname) && !reg_email.test(uname)){
                $('.input .warning').eq(1).css('display','block').css('opacity',1)
            }else{
                $('.input .warning').eq(1).css('display','none').css('opacity',0)
            }
        }else{
            $('.input .warning').eq(0).css('display','block').css('opacity',1)
        }
        if(pwd != ''){
            $('.input .warning').eq(3).css('display','none').css('opacity',0)
            if(!reg_password.test(pwd)){
                $('.input .warning').eq(4).css('display','block').css('opacity',1).html('密码格式错误')
                 
            }else{
                $('.input .warning').eq(4).css('display','none').css('opacity',0)
            }       
        }else{
            $('.input .warning').eq(3).css('display','block').css('opacity',1)
        }

        if($('#check').hasClass('check_active')){
            console.log('选择自动登陆')
        }else{
           console.log('无自动登陆')
        }
    })
    $('#check').click(function(){
        if($(this).hasClass('check_active')){
            $(this).removeClass('check_active');
        }else{
            $(this).addClass('check_active');
        }
    })
    $("#uname").blur(function(){
        var uname = $('#uname').val();
        var pwd = $('#pwd').val();
        if(uname != ''){
            $('.input .warning').eq(0).css('display','none').css('opacity',0)
            if(!reg_phone.test(uname) && !reg_email.test(uname)){
                $('.input .warning').eq(1).css('display','block').css('opacity',1)
            }else{
                $('.input .warning').eq(1).css('display','none').css('opacity',0)

                $('#pwd').keyup(function(){
                    var pwd = $('#pwd').val();
                    console.log($('#pwd').val())
                    if(pwd != ''){
                        $('.btn-primary').removeClass('disabled')  
                    }else{
                        $('.btn-primary').addClass('disabled')
                    }
                })
            }
        }else{
            $('.input .warning').eq(0).css('display','block').css('opacity',1)
        }
    })
    $("#uname").keyup(function(){
        if($(this).val() == ''){
            $('.input .warning').eq(1).css('display','none').css('opacity',0)
        }else{
           $('.input .warning').eq(0).css('display','none').css('opacity',0) 
        }
    })

</script>
</body>
</html>