/********************************************/
/******重置样式******/
/********************************************/
*{
  box-sizing: border-box;
}
html,body,p,ul,h1,h2,div,form,input,ul,li{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  font: normal 12px/1.5 '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  border: none;
}
a,button,input{
  //-webkit-tap-highlight-color:rgba(231,32,86,0);
}
img{
  border: none;
  display: block;
  vertical-align: bottom;
}
.clear{
  zoom: 1;
}
.clear:after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
/********************************************/
/******公共样式******/
/********************************************/
.square-box{
  width: 640px;
  margin: 0 auto;
  .square{
    float: left;
    width: 64px;
    height: 64px;
    border: 1px solid #CCC;
    border-radius: 6px;
    text-align: center;
    font-size: 36/16rem;
    line-height: 64px;

  }
}
.square-box .active{
  border-color: red;
}
.txtlist{
  margin-top: 56px;
  input{
    height: 56px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
    width: 360px;
    font-size: 30/16rem;
  }
  button{
    height: 56px;
    font-size: 30/16rem;
    width: 136px;
  }
}