extends ../layout_admin

block content
	//- header
	div.admin_header
		div.admin_header_content
			div.content-l
				div.content-l-item.fl
					a(href="/")
						img(src="/images/logo_admin.png", alt="This is logo")
				div.content-l-item.fl
					a(href="#")
						span 产品与服务
			div.content-r
				div.content-l-item.fl
					a(href="#")
						span 收索
				div.content-l-item.fl
					a(href="#")
						span Free68
					ul.admin_uname
						li
							a(href="#") 退出管理控制台
				div.content-l-item.fl
					a(href="#")
						span 简体中文
					ul.lange
						li
							a(href="#") Eenlish
	//- content
	div.admin_content
		div.admin_content_active
			//- aside
			div.aside
				ul
					li.active
						a(href="#") 发布文章
						ul.ul_item
							li.item_active
								a(href="#") 订单发布
							li
								a(href="#") 订单详情
					li
						a(href="#") 文章管理
						ul.ul_item
							li
								a(href="#") 添加文章
							li
								a(href="#") 更新文章
							li
								a(href="#") 删除文章
							li
								a(href="#") 查询文章
					li
						a(href="#") 用户权限
						ul.ul_item
							li
								a(href="#") 添加用户
							li
								a(href="#") 删除用户
			//- main
			div.main main
