doctype
html(lang="zh-CN")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">	
		title #{title}
		include ../includes/head
	body
		div.sign
			div.sign_main
				div.sigin_logo
					a(href="/", alt="logo")
						img(src="/images/logo.png", alt="")
				h4.title.title-color 用邮箱重置密码
				p.error
					i.error-txt
					span.glyphicon.glyphicon-warning-sign#glyphicon-warning-sign
				form(action="/email_reset/new", method="post", onsubmit="return false")
					ul.email_inp
						li
							input(type="text",placeholder="请输入注册或绑定的邮箱", name='email', id='email')
							span.glyphicon.glyphicon-envelope
						li
							input(type="text",placeholder="邮箱验证码", name="vcode" maxlength="6" id="vcode")
							span.glyphicon.glyphicon-eye-close
							a.btn-up-resend.btn-up-resend-color 发送验证码
						li
							input(type="password",placeholder="请输入新密码", name="password" id="password")
							span.glyphicon.glyphicon-lock
						li
							input(type="password",placeholder="请再输入一次新密码", name="password_confirmation" id="password_confirmation")
							span.glyphicon.glyphicon-lock
					input#email_reset.sign-up-button.sign-in-botton(type="submit", value="重置密码")
					p.footer-line
