extends ../layout

block content
	//- Banner
	div.container-fluid
		//- div#carousel-example-generic.carousel.slide(data-ride="carousel")
		//- 	//- Indicators
		//- 	ol.carousel-indicators
		//- 		li.active(data-target="#carousel-example-generic", data-slide-to="0")
		//- 		li(data-target="#carousel-example-generic", data-slide-to="1")
		//- 	//- Wrapper for slides		
		//- 	div.carousel-inner(role="listbox")
		//- 		div.item.active
		//- 			img(src="/images/banner1.png", alt="...")
		//- 			//- div.carousel-captiion 111
		//- 		//- div.item
		//- 		//- 	img(src="#", alt="...")
		//- 		//- 	div.carousel-captiion 222
		//- 	//- Controls
		//- 	a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
		//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		//- 		span.sr-only Previous
		//- 	a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
		//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		//- 		span.sr-only Next
	//- banner
	div.banner.container-fluid
		div.users
			a(href="#")
				p.head(title='更新头像')
					img(src="/images/me-head.png")
			p.name #{uname}
			p.name-info #{email}
		div.boll
			i
			i
			i
			i
			i
			i
			i
			i
			i
			i
			i
			i
	//- 作品
	ul.works.container
		li
			a(href="https://www.microsoft.com/china/office365/partners/index.html")
				div
					img(src="/images/logoOffice.png", alt="logoOffice.png")
					p Office 365 首页以及详情页
			a(href="#") 
				div
					img(src="/images/logoOffice.png", alt="logoOffice.png")
		li
			a(href="https://www.microsoft.com/china/ignite/2016/",target="_blank")
				div
					img(src="/images/microsoft.png", alt="microsoft.png")
					p 微软技术大会官网 信息更新以及维护
			a(href="#")
				div 
					img(src="/images/microsoft.png", alt="microsoft.png")
		li
			a(href="http://qiye.163.com/entry/block/officesuite/index.htm",target="_blank")
				div
					img(src="/images/netease.jpg", alt="netease.jpg")
					p 网易与微软共同打造云办公解决方案
			a(href="#")
				div
					img(src="/images/netease.jpg", alt="netease.jpg")
		li
			a(href="#")
				img(src="/images/office_code.png", alt="office_code.png")
			a(href="#")
				div
					p Office 365 猜字游戏
					p 打开微信扫一扫查看
		li
			a(href="#")
				img(src="/images/mac4me.png", alt="mac4me.png")
			a(href="#")
				div
					p Apple 校园摄影大赛
					p 打开微信扫一扫查看
	//- 内容
	div.container.main
		div.row
			div.col-xs-12.col-sm-12.col-md-9
				div.row.line
					div.col-md-9.col-sm-9
						div.list-content
							div.title
								a.head-img(href="#")
								div.name
									a(href="#") 转身下一秒
									span 昨天 22:22
							a.tit 简书是个好平台
							p.abstract 1、 在简书网，有很多假装勤奋好学的青年。他们喜欢寻找捷径，那些干货类的文章，深受他们喜欢。 捷径是没有的。即使有捷径，也轮不到你们走，早被比你们更有资源更有才气的人抢走了。...
							a(href="#").meta 关注
							span 666人
					div.col-md-3.hidden-xs.col-sm-3
						a(href="#").wrap-img
							img(src="/images/list1.jpg", alt="")
				div.row.line
					div.col-md-9.col-sm-9
						div.list-content
							div.title
								a.head-img(href="#")
								div.name
									a(href="#") 转身下一秒
									span 昨天 22:22
							a.tit 简书是个好平台
							p.abstract 1、 在简书网，有很多假装勤奋好学的青年。他们喜欢寻找捷径，那些干货类的文章，深受他们喜欢。 捷径是没有的。即使有捷径，也轮不到你们走，早被比你们更有资源更有才气的人抢走了。...
							a(href="#").meta 关注
							span 666人
					div.col-md-3.hidden-xs.col-sm-3
						a(href="#").wrap-img
							img(src="/images/list1.jpg", alt="")
				div.row
					div.col-md-9.col-sm-9
						div.list-content
							div.title
								a.head-img(href="#")
								div.name
									a(href="#") 转身下一秒
									span 昨天 22:22
							a.tit 简书是个好平台
							p.abstract 1、 在简书网，有很多假装勤奋好学的青年。他们喜欢寻找捷径，那些干货类的文章，深受他们喜欢。 捷径是没有的。即使有捷径，也轮不到你们走，早被比你们更有资源更有才气的人抢走了。...
							a(href="#").meta 关注
							span 666人
					div.col-md-3.hidden-xs.col-sm-3
						a(href="#").wrap-img
							img(src="/images/list1.jpg", alt="")
				
				a.more(href="#") 加载更多
			div.col-md-3.hidden-xs.hidden-sm
				div.inputs
					input(type="text", placeholder="搜索") 
					a.search-btn(href="#")
						span.glyphicon.glyphicon-search		
	//- 底部版权
	div.footer
		ul.container
			li 版权所有 © 2017--2020
			li
				span 电话：
				span 15601604621
			li
				span 邮箱：
				span newfree68@163.com