doctype
html(lang="zh-CN")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">	
		title #{title}
		include ../includes/head
	body
		div.sign
			div.sign_main
				div.sigin_logo
					a(href="/", alt="logo")
						img(src="/images/logo.png", alt="")
				h4.title
					div.normal-title
						a.active(href="/sign_in") 登录
						b ·
						a(href="/sign_up") 注册
				p.error
					i.error-txt
					span.glyphicon.glyphicon-warning-sign#glyphicon-warning-sign
				form(action="/sign_in/new", method="post", onsubmit="return false")
					ul
						li
							input(type="text",placeholder="你的昵称/邮箱", name='en', id='en')
							span.glyphicon.glyphicon-user
						li
							input(type="password",placeholder="密码", name='pwd' id='pwd')
							span.glyphicon.glyphicon-lock
					p.password-state.clear
						label.fl
							input(type="checkbox")
							记住Me
						a.fr(href="/email_reset") 忘记密码？
					input#submit_up.sign-up-button.sign-in-botton(type="submit", value="登录")
					p.footer-line
