link(href="/css/Reset.css", rel="stylesheet")
link(href="/images/favicon.ico" rel="shortcut icon" )
link(href="/css/admin_sign_in.css", rel="stylesheet")

script(src="/js/jquery.min.js")
script(src="/js/admin_sign_in.js")
