div.navbar.navbar-inverse(role="navigation")
	div.container
		//- Brand and toggle get grouped for better mobile display
		div.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				img(src="/images/logo.png")
			a.article.collapse_md(href="/admin/movie") 登陆
			div.unames.unames_s
				a.uname(href="#") 您好，#{uname}
				a.no_uname(href="#") 退出
		div.uname_info
			a.article.article_hide(href="/admin/movie") 登陆
			div.unames.unames_pc
				a.article_hide.uname(href="#") 您好，#{uname}
				a.no_uname(href="#") 退出
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#") Works
				li
					a(href="#") Contact
		
			//- from.navbar-form.navbar-right(role="search")
			//- 	div.form-group
			//- 		input.form-control(type="text", placeholder="Search")
//- .container
//- 	.row
//- 		.page-header
//- 			h1= title
//- 			small 中毒科幻片