link(href="/css/Reset.css", rel="stylesheet")
link(href="/images/favicon.ico" rel="shortcut icon" )
link(href="/bootstrap/less/bootstrap.css", rel="stylesheet")

//- link(href="/css/Reset.css", rel="stylesheet")
link(href="/css/main.css", rel="stylesheet")

script(src="/js/jquery.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/main.js")